{% extends 'base.html.twig' %}

{% block title %}Edit Personne{% endblock %}

{% block body %}
    <h1>Edit Personne</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning">
    Modifier
    </button>
    {{ form_end(form) }}
    <a href="{{ path('personne_index') }}">back to list</a>

   
{% endblock %}
